@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 50px;
}

:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}

.btn {
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

nav {
  background: #270082;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  text-decoration: none;
}

.nav-menu ul a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

.nav-menu ul a:hover {
  border-bottom: 2px solid #fff;
  transition: 0.2s ease-in-out;
}

#hero-section {
  background: url(images/img1.png);
  color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.hero-text {
  text-align: center;
  margin-top: -100px;
  padding: 100px;
}

.hero-text h1 {
  font-size: 50px;
  padding-bottom: 50px;
}

.hero-text h4 {
  font-size: 24px;
  padding-bottom: 50px;
}

.hero-text p {
  font-size: 18px;
  width: 68%;
  text-align: center;
  margin: auto;
}

/* Music Section */

#music {
  background: var(--purple500);
  color: #fff;
  text-align: center;
}

#music h2 {
  color: #fff;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
}

.music-head {
  padding: 20px;
  font-size: 18px;
}

.desc {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.btn-primary {
  background: var(--red600);
  color: #fff;
  margin-bottom: 40px;
}

#music p {
  font-weight: 380;
  margin-bottom: 30px;
}

#music img {
  margin-bottom: -350px;
}

/* My Music Info */

#my-music-info {
  margin-top: 400px;
  text-align: center;
}

#my-music-info h1 {
  margin: 50px;
}

.description {
  width: 70%;
  margin: auto;
  font-weight: 300;
  margin-bottom: 40px;
}

.btn-secendary {
  color: #fff;
  background: var(--purple300);
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

#my-music-info img {
  margin-bottom: 40px;
}

#video {
  background: url(images/img2.png);
  color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  opacity: 0.9;
}

.video-text {
  text-align: center;
  padding-top: 10%;
}

.video-text p {
  width: 70%;
  margin: auto;
  padding: 40px;
}

/* Gift Section */

#gift {
  display: flex;
  margin: 130px 120px;
  gap: 60px;
}

.gift-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gift-text p {
  font-weight: 300;
}

.gift-text button {
  justify-content: flex-start;
  margin: 0;
  align-self: flex-start;
}

#footer {
  display: flex;
  padding: 40px 50px;
  justify-content: center;
  gap: 100px;
  background-color: var(--purple500);
  color: #fff;
}

#footer h1 {
  font-size: 19px;
  border-bottom: 2px solid white;
}

#footer ul {
  margin-top: 30px;
  list-style: none;
}

#footer ul li {
  padding-top: 8px;
}

#footer ul a {
  color: #fff;
  text-decoration: none;
}

.footer-lower {
  color: #fff;
  text-align: center;
  background-color: var(--purple300);
  padding: 10px;
}
.line {
  border: 1px solid #fff;
  width: auto;
}
