@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #f8f8f8;
  line-height: 1.4;
}

.main {
  max-width: 800px;
  margin: auto;
  background: #fff;
}

.nab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #307916;
  gap: 20px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 10px;
  border-radius: 5px;
}

.nab-bar h1 {
  font-size: 20px;
  font-weight: 500;
}

.nab-bar h3 {
  font-size: 15px;
  font-weight: 400;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input,
option,
select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-div {
  margin: auto;
  padding: 50px;
}

div {
  /* margin-top: 10px; */
}

.subjects {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
